header {
  background-color: #1c2331; }

html,
body,
header,
.view {
  height: 100%; }

.user p {
  color: white;
  background-color: white; }

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px; } }
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px; } }
.top-nav-collapse {
  background-color: #1c2331 !important; }

.navbar:not(.top-nav-collapse) {
  background: #1c2331 !important; }

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #1c2331 !important; } }
.rgba-gradient {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%); }

.card {
  background-color: rgba(126, 123, 215, 0.2); }

.md-form label {
  color: #ffffff; }

h6 {
  line-height: 1.7; }

footer {
  background-color: #1c2331; }

/*# sourceMappingURL=style.css.map */
