@import "custom-variables";

header {
    background-color:$colorPrincipal;
}

  html,
  body,
  header,
  .view {
    height: 100%;
  }
  .user p{
    color:white;
    background-color: white;
  }
  .mobile {
    width:48px;
  }

  @media (max-width: 740px) {
    html,
    body,
    header,
    .view {
      height: 1000px;
    }

    #view-post {
      width:100%;
    }
    .mobile {
      width:48px;
    }
    .seccion {

      display:grid;
      grid-template-columns: 1fr 1fr 1fr ;
      position:fixed;
    }
    .seetag {
      position:fixed;
      left:0px;
      z-index:300;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
      height: 650px;
    }
    .seccion {
      margin-top: 6em;
      display:grid;
      grid-template-columns: 1fr 1fr 1fr ;
      justify-items: center;
      align-items: center;
      position:fixed;
    }
    .seetag {
      position:fixed;
      left:0px;
      z-index:300;
    }
  }
  .top-nav-collapse {
    background-color:$colorPrincipal !important;
  }
  .navbar:not(.top-nav-collapse) {
    background: $colorPrincipal !important;
  }
  @media (max-width: 991px) {
   .navbar:not(.top-nav-collapse) {
    background: $colorPrincipal !important;
   }
    .seccion {
      margin-top: 6em;
      display:grid;
      grid-template-columns: 1fr 1fr 1fr ;
      justify-items: center;
      align-items: center;
      position:fixed;
      backface-visibility: visible;
      justify-items: center;
      align-items: center;
      z-index:30000000;
    }
    .seetag {
      position:fixed;
      left:0px;
      z-index:300;
      writing-mode: vertical-rl;
      text-orientation: mixed;

    }

  }
  @media (min-width: 992px) and (max-width: 1996px) {
    .contenido {
      display:flex;
      flex-direction: row;
      justify-content: center;
    }
    #view-post {
      width:40%;
    }
    .seccion {
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      justify-items: center;
      align-items: center;
      position:fixed;
      z-index: 2;
      justify-items: center;
      align-items: center;
    }
    .seetag {
      position:fixed;
      left:0px;
      z-index:300;
      writing-mode: vertical-rl;
      text-orientation: mixed;
    }
  }
  .rgba-gradient {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
  }

  .card {
    background-color: rgba(126, 123, 215, 0.2);
  }


  .md-form label {
    color: #ffffff;
  }

  h6 {
    line-height: 1.7;
  }
  h2 {
    font-family:  sans-serif;
  }
  footer {
    background-color: $colorPrincipal;
  }


